{% extends "base.html" %}
{% block title %}Budget{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/budgeting_and_goals.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/budgeting.css') }}">
{% endblock %}
{% block content %}

<div class="container py-5 mt-5 d-flex justify-content-center align-items-start">
    <div class="col">

        <!-- Widgets -->
        <!-- Budget that has the highest % saved or lowest % spent -->
        <div class="row g-3 mb-5">
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="text-muted small mb-1">Most Saved Budget</p>
                                <h5 class="mb-0">
                                    {% if most_saved %}
                                        {{ most_saved.category }}<br>
                                        <span class="removeZero">{{ most_saved_pct }}</span>% Saved!
                                    {% else %}
                                        No data
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="bg-indigo-light p-2 rounded-3 text-success">
                                <i class="fas fa-up-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Budget that has the lowest % saved or highest % spent -->
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="text-muted small mb-1">Most Spent Budget</p>
                                <h5 class="mb-0">
                                    {% if most_spent %}
                                        {{ most_spent.category }}<br>
                                        <span class="removeZero">{{ most_spent_pct }}</span>% Spent
                                    {% else %}
                                        No data
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="bg-green-light p-2 rounded-3 text-danger">
                                <i class="fas fa-down-long"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Monthly income compared to last month's Income -->
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="text-muted small mb-1">Monthly Income</p>
                                <h4 class="mb-0">$<span class="removeZero">{{ "%.2f"|format(this_month_income | round(2)) }}</span></h4>
                                <p class="text-muted small">Last month: $<span class="removeZero">{{ "%.2f"|format(last_month_income | round(2)) }}</span></p>
                            </div>
                            <div class="bg-yellow-light p-2 rounded-3 text-warning">
                                <i class="fas fa-coins"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Monthly spending compared to last month's spending -->
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="text-muted small mb-1">Monthly Spending</p>
                                <h4 class="mb-0">$<span class="removeZero">{{ "%.2f"|format(this_month_expense | round(2)) }}</span></h4>
                                <p class="text-muted small">Last month: $<span class="removeZero">{{ "%.2f"|format(last_month_expense | round(2)) }}</span></p>
                            </div>
                            <div class="bg-purple-light p-2 rounded-3 text-danger">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Budget Button -->
        <div class="mb-3">
            <a class="btn btn-success" href="{{ url_for('budgeting_and_goals.add_budget') }}">+ Add Budget</a>
        </div>
        <!-- Budgets Table -->
        <div class="row">
            <!-- Transactions Table -->
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-0">Budgets</h5>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="transactions-table">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Current Amount</th>
                                        <th style="text-align: center;">Spending Comparison</th>
                                        <th>Limit</th>
                                        <th>Period</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for summary in summaries %}
                                    <tr>
                                        <td class="col_title">{{ summary.budget.category }}
                                            {% if summary.budget.description %}
                                                <span class="ms-1" data-bs-toggle="tooltip" title="{{ summary.budget.description }}">
                                                    <i class="fas fa-info-circle text-secondary custom-info-icon"></i>
                                                </span>
                                                {% endif %}
                                            </td>
                                        <td class="col_current">$ <span class="removeZero">{{ "%.2f"|format(summary.total_spent|abs) }}</span>
                                            {% if (summary.total_spent < 0) %}
                                                    Saved
                                                {% else %}
                                                    Spent
                                                {% endif %}
                                        </td>
                                        {% set limit = summary.budget.limit %}
                                        {% set spent = summary.total_spent %}
                                        {% set previous = summary.previous_total_spent %}
                                        <td style="width: 450px; text-align: center;">
                                        <div class="budget-bar-container"
                                            data-current="{{ summary.total_spent }}"
                                            data-limit="{{ summary.budget.limit }}"
                                            data-previous="{{ summary.previous_total_spent }}">

                                        <div class="budget-bar-previous" data-bs-toggle="tooltip"
                                            title="Previous: ${{ '%.2f'|format(summary.previous_total_spent|abs) }} {{ 'Saved' if summary.previous_total_spent < 0 else 'Spent' }}"></div>

                                        <div class="budget-bar-fill" data-bs-toggle="tooltip"
                                            title="Current: ${{ '%.2f'|format(summary.total_spent|abs) }} {{ 'Saved' if summary.total_spent < 0 else 'Spent' }}"></div>

                                        <div class="marker marker-zero" data-bs-toggle="tooltip" title="0%"></div>
                                        <div class="marker marker-limit" data-bs-toggle="tooltip"
                                            title="Limit: ${{ summary.budget.limit }}"></div>
                                        </div>
                                        </div>
                                        </td>
                                        <td>$<span class="removeZero">{{ "%.2f"|format(summary.budget.limit) }}</span></td>
                                        <td class="col_time_left">{{ summary.budget.period }}</td>
                                        <td class="editing_button" style="border: none;">
                                            <a class="btn btn-info" href="{{ url_for('budgeting_and_goals.edit_budget', budget_id=summary.budget.id) }}">Edit</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/budgeting.js') }}"></script>
<script src="{{ url_for('static', filename='js/budgeting_and_goals.js') }}"></script>
{% endblock %}