{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container min-vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('budgeting_and_goals_bp.view_goals') }}">Goals</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Goal</li>
            </ol>
        </nav>
        <h1 class="mb-4 text-center">Edit Goal</h1>

        <!-- Edit Goal Form -->
        <form method="POST" action="{{ url_for('budgeting_and_goals_bp.edit_goals', id=goal_id) }}">
            {{ form.hidden_tag() }}

            <!-- Enter Title -->
            <div class="mb-3">
                <label for="title" class="form-label">{{ form.title.label }}</label>
                {{ form.title(class="form-control", aria_label="Goal title input") }}
            </div>

            <!-- Target Amount (2d.p. Max) -->
            <div class="mb-3">
                <label for="target_amount" class="form-label">{{ form.target_amount.label }}</label>
                {{ form.target_amount(class="form-control",
                aria_label="Target amount input") }}
            </div>

            <!-- Current Amount (2d.p. Max) -->
            <div class="mb-3">
                <label for="current_amount" class="form-label">{{ form.current_amount.label }}</label>
                {{ form.current_amount(class="form-control",
                aria_label="Current amount input") }}
            </div>

            <!-- Deadline (dd/mm/yyyy) -->
            <div class="mb-3">
                <label for="deadline" class="form-label">{{ form.deadline.label }}</label>
                {{ form.deadline(class="form-control",
                aria_label="Deadline input") }}
            </div>

            <!-- Button Row -->
            <div class="d-flex justify-content-between">
                <form method="POST" action="{{ url_for('budgeting_and_goals_bp.edit_goals', id=goal_id) }}">
                    {{ form.hidden_tag() }}

                    <!-- Save Button -->
                    {{ form.submit(class="btn btn-primary") }}
                </form>

                <!-- Delete Button -->
                <form method="POST" action="{{ url_for('budgeting_and_goals_bp.delete_goal', id=goal_id) }}"
                    onsubmit="return confirm('Are you sure you want to delete this goal?');">
                    <button type="submit" class="btn btn-danger">Delete Goal</button>
                </form>
            </div>
        </form>
    </div>
</div>

{% endblock %}