<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('authentication.static', filename='css/login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>

    <div id="page-wrapper">
        <div id="header-wrapper">
            <div id="header-title"> FINANCIAL TRACKER (Name Pending)</div>
            <div id="header-right" class="header-right">
                <a role="button" class="header-action active" href="{{ url_for('authentication.signup') }}">Sign up</a>
                <a role="button" class="header-action" href="{{ url_for('authentication.login') }}">Log in</a>
            </div>
        </div>

        <div id="content-wrapper">

            <div id="wrapper" class="wrapper">
                <div class="info-row heading">Sign up</div>
                    <form method="POST" action="{{ url_for('authentication.signup') }}">
                        {{ form.hidden_tag() }}

                        <!-- Name Input -->
                        <div id="form-start" class="info-row">
                            <div class="info-title subheading">First Name</div>
                            <div id="input-wrapper" class="input-wrapper">
                                {{ form.first_name(class_="inputfield", placeholder_="What's your first name?") }}
                            </div>
                        </div>

                        <!-- Name Input -->
                        <div id="form-start" class="info-row">
                            <div class="info-title subheading">Last Name</div>
                            <div id="input-wrapper" class="input-wrapper">
                                {{ form.last_name(class_="inputfield", placeholder_="What's your last name?") }}
                            </div>
                        </div>

                        <!-- Email input -->
                        <div id="form-start" class="info-row">
                            <div class="info-title subheading">Email address</div>
                            <div id="input-wrapper" class="input-wrapper">
                                {{ form.email(class_="inputfield", placeholder_="What's your email?") }}
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="info-row">
                            <div class="info-title-cols">
                                <div class="info-title subheading">{{ form.password.label }}</div>
                            </div>
                            <div id="input-wrapper" class="input-wrapper">
                                {{ form.password(class_="inputfield", placeholder_="What do you want your password to be?") }}
                            </div>
                        </div>
                        <div class="info-row">
                            <div class="info-title-cols">
                                <div class="info-title subheading">{{ form.repassword.label }}</div>
                            </div>
                            <div id="input-wrapper" class="input-wrapper">
                                {{ form.repassword(class_="inputfield", placeholder_="Please confirm.") }}
                                {% for error in form.repassword.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}  
                            </div>
                        </div>

                        <!-- Footer section with the signup link -->
                        <div id="footer" class="info-row info-footer">
                            {{ form.submit(class_="button button-icon subsubheading icon-arrow-right-circle") }}
                        </div>
                    </form>
                </div>
            </div>

        <div id="footer-wrapper">

            <a role="button" href="{{ url_for('authentication.privacy') }}">Privacy</a>
            <a role="button" href="{{ url_for('authentication.feedback') }}">Feedback</a>
        </div>
        <div id="dialog-container"></div>
    </div>

    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              alert("{{ message }}");
            {% endfor %}
          {% endif %}
        {% endwith %}
    </script>

</body>