/* Table styles */
.table .col_period, .table .col_limit, .table .col_current, .table .col_target, .table .col_deadline {
  width: 150px;
}

.table .col_title, .table .col_time_left {
  width: 200px;
}

/* The Edit Button */
.table .editing_button, .table .col_privacy {
  width: 5%;
}

/* Custom Tooltip Styles */
.custom-info-icon {
    color: white !important;
}

.tooltip-inner {
    color: #f8f9fa !important;
    border-radius: 4px !important;
    max-width: 350px !important;
    padding: 24px 12px !important;
}
