/* Progress Bar */
.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    transition: width 0.5s ease-in-out;
  }
  
  .progress-percent {
    font-size: 0.9em;
    margin-top: 4px;
    display: inline-block;
  }