body {
    font-family: Arial, sans-serif;
    background-color: #a7a7a7;
    text-align: center;
    padding-top: 50px;
}

.main-content {
    padding-top: 50px; /* Adjust to fit the navbar height */
}

/* File input button styling */
input[type="file"]::file-selector-button {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f8f9fa;
    color: #000;
    border-color: #000;
}


/* Profile circle styles */
.profile-link {
    text-decoration: none;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-initials {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
