{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">

    <h1 class="mb-4 text-center">Log in</h1>

    <form method="POST" action="{{ url_for('authentication.login') }}">
      {{ form.hidden_tag() }}

      <!-- Email input -->
      <div class="mb-3">
        <label for="{{ form.email.id }}" class="form-label">{{ form.email.label }}</label>
        {{ form.email(class_="form-control", placeholder="What's your email?", id=form.email.id) }}
      </div>

      <!-- Password input -->
      <div class="mb-3">
        <label for="{{ form.password.id }}" class="form-label">{{ form.password.label }}</label>

        <div class="d-flex justify-content-end mb-2">
          <a href="#" class="form-text">Forgot your password?</a>
        </div>

        {{ form.password(class_="form-control", placeholder="What's your password?", id=form.password.id) }}
      </div>

      <!-- Submit button and sign up link -->
      <div class="d-flex justify-content-between align-items-center mt-4">
        <a href="{{ url_for('authentication.signup') }}" class="link">Don't have an account yet?</a>
        {{ form.submit(class_="btn btn-primary") }}
      </div>

    </form>
    
  </div>
</div>


</div>


  <div id="footer-wrapper">

      <a role="button" href="{{ url_for('authentication.privacy') }}">Privacy</a>
      <a role="button" href="{{ url_for('authentication.feedback') }}">Feedback</a> 
  </div>
  <div id="dialog-container"></div>
</div>

{% endblock %}

