{% extends "layout.html" %}
{% block title %} Goals {% endblock %}
{% block nav_Goal %}active{% endblock %}

{% block main %} <h1 style="text-align: center;margin-top: 120px;"> Goals </h1>

<!-- Add Goal Button -->
<div style="text-align: center;margin-top: 20px;">
    <a class="btn btn-success" href="{{ url_for('budgeting_and_goals_bp.add_goal') }}">+ Add Goal</a>
</div>

<!-- Display Goals Table -->
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Current Amount</th>
            <th>Progress</th>
            <th>Target Amount</th>
            <th>Deadline</th>
            <th>Time Left</th>
        </tr>
    </thead>
    <tbody>
        {% for goal in goals %}
        <tr>
            <td class="col_title">{{ goal.title }}</td>
            <td class="col_current">{{ "%.2f"|format(goal.current_amount) }}</td>
            <td>
                <div class="progress-bar-container" 
                    data-current="{{ goal.current_amount }}"
                    data-target="{{ goal.target_amount }}">
                    <div class="progress-bar"></div>
                </div>
                <span class="progress-percent"></span>
            </td>
            <td class="col_target">{{ "%.2f"|format(goal.target_amount) }}</td>
            <td class="col_deadline" data-deadline="{{ goal.deadline }}">{{ goal.deadline }}</td>
            <td class="col_time_left"></td>
            <td>
                <a class="btn btn-info" href="{{ url_for('budgeting_and_goals_bp.edit_goals', id=goal.id) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="{{ url_for('static', filename='js/goals.js') }}"></script>
{% endblock %}